[Unit]
Description=Kassa

After=graphical.target
Requires=network.target

[Service]
User=root
ExecStart=/home/pi/.nvm/versions/node/v18.13.0/bin/node /home/pi/limukassa-v2/app.js
Restart=always
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/pi/limukassa-v2

[Install]
WantedBy=multi.user.target default.target
