<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %></title>
        <link rel="stylesheet" type="text/css" href="/assets/main.css">
        <script src="https://kit.fontawesome.com/4700666a38.js" crossorigin="anonymous"></script>
        <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
    </head>
    <body>
    <div class="flex flex-row-reverse ">
        <a class="bg-blue-500 hover:bg-blue-600 px-6 py-4 m-4 text-center rounded-md shadow-md text-xl" href="/users">Käyttäjät</a>
        <a class="bg-blue-500 hover:bg-blue-600 px-6 py-4 m-4 text-center rounded-md shadow-md text-xl" href="/">H</a>
    </div>