<%- include("../partials/header", { path, title: "404" }) %>

<div class="text-center flex flex-col justify-center px-4 py-16">
    <div class="max-w-screen-xl mx-auto">
        <h1 class="text-9xl">404</h1>
    </div>
</div>

<%- include("../partials/footer") %>