<%- include("partials/header", { path, title: "Home"}) %>
<div class="text-center flex flex-col justify-center items-center px-4">
    <h1 class="text-3xl"><%= card %></h1>
</div>

<%- include("partials/footer") %>