<%- include("partials/header", { path, title: "Home"}) %>
<script>
    function refreshPage() {
        // Use AJAX to get the latest GPIO data from the server
        fetch('/api/reader')
            .then(response => response.json())
            .then(data => {
                // Update the page with the new data
                if(data.error) {
                    document.getElementById('data').innerHTML = `${data.error}`;
                    const refreshButton = document.createElement('button');
                    refreshButton.classList.add("bg-blue-500", "hover:bg-blue-700", "text-white", "font-bold", "py-2", "px-4", "rounded-md")
                    refreshButton.addEventListener('click', refresh)
                    refreshButton.id('refreshButton')
                    refreshButton.textContent = 'Refresh';
                    document.getElementById('data').insertAdjacentElement('afterend', refreshButton);
                    return;
                } else if(data.uid) {
                    if(document.getElementById('refreshButton')) document.getElementById('refreshButton').remove();

                    document.getElementById('data').innerHTML = `${data.uid}`;
                }
            });
    }
    window.onload = function() {
        refreshPage()
    }
    function refresh() {
        refreshPage()
    }
    </script>

<div class="text-center flex flex-col justify-center items-center px-4">
    <h1 class="text-3xl"><span id="data"></span></h1>
</div>

<%- include("partials/footer") %>