<%- include("partials/header", { path, title: "Home"}) %>
<div class="text-center flex flex-col justify-center items-center px-4">
    <%= JSON.stringify(user) %>
</div>

<%- include("partials/footer") %>