<%- include("partials/header", { path, title: "Home"}) %>
<div class="text-center flex flex-col justify-center items-center px-4">
    <h1 class="text-6xl">Limukassa</h1>
    <div class="flex flex-row flex-wrap w-full pt-4">
        <div class="flex flex-row flex-wrap w-1/2">
            <form action="/api/transaction" method="post">
                <input type="hidden" name="amount" id="amount" value="1">
                <button class="bg-purple-500 hover:bg-purple-600 py-8 px-10 m-4 text-5xl rounded-md shadow-md">1€</button>
            </form>
            <form action="/api/transaction" method="post">
                <input type="hidden" name="amount" id="amount" value="2">
                <button class="bg-purple-500 hover:bg-purple-600 py-8 px-10 m-4 text-5xl rounded-md shadow-md">2€</button>
            </form>
            <form action="/api/transaction" method="post">
                <input type="hidden" name="amount" id="amount" value="15">
                <button class="bg-purple-500 hover:bg-purple-600 py-8 px-10 m-4 text-5xl rounded-md shadow-md">15€</button>
            </form>
        </div>
        <div class="flex flex-col items-center justify-center w-1/2">
            <% if(user) { %>
                <p>Käyttäjä: <%= user.name %></p>
                <p><%= user.balance %></p>

            <% } %>
        </div>

    </div>
</div>

<%- include("partials/footer") %>