<%- include("partials/header", { path, title: "Home"}) %>
<div class="w-[744px] h-[1133px] relative bg-neutral-900 select-none overflow-x-hidden">
    <div class="flex flex-row flex-nowrap justify-center items-center h-[200px]">
        <img class="origin-top-left rotate-[-26.10deg] opacity-25" src="img/hlm-alieni.png" />
        <div class="text-center text-neutral-200 text-[200px] font-normal font-['Bebas Neue']">Kioski</div>
        <img class="origin-top-left rotate-[-25.66deg] opacity-10" src="img/hlm-alieni.png" />
    </div>
    <!--
    <div class="w-[693px] h-[204px] left-[26px] top-0 absolute text-center text-neutral-200 text-[200px] font-normal font-['Bebas Neue']">Kioski</div>
    <img class="w-[500px] h-[500px] left-[-220px] top-[802.18px] absolute origin-top-left rotate-[-26.10deg] opacity-25" src="img/hlm-alieni.png" />
    <img class="w-[219.41px] h-[219.41px] left-[449px] top-[865.47px] absolute origin-top-left rotate-[-25.66deg] opacity-10" src="img/hlm-alieni.png" />-->
    <img class="w-[145px] h-[145px] left-[29px] top-[35px] absolute" src="img/hlm-alieni.png" />
    <img class="w-[145px] h-[145px] left-[574px] top-[35px] absolute" src="img/hlm-alieni.png" />
    <button class="w-[294px] h-[102px] left-[222px] top-[515px] absolute h-20 text-center text-neutral-200 text-6xl font-normal font-['Bebas Neue'] bg-fuchsia-500 rounded-[13px]" id="redirectButton">
        LUE KORTTI
    </button>
    <img class="w-[219.41px] h-[219.41px] left-[655.86px] top-[521.24px] absolute origin-top-left rotate-[27.07deg] opacity-10" src="img/hlm-alieni.png" />
</div>
<script>
    function redirect() {
        window.location.href = "/menu";
        window.location.replace("/menu");
    }
    document.getElementById("redirectButton").addEventListener("click", redirect);
</script>