<%- include("partials/header", { path, title: "Home"}) %>
<div id="data"></div>
<div class="w-[744px] h-[1133px] relative bg-neutral-900" id="main">
    <div class="w-[693px] h-[204px] left-[26px] top-0 absolute text-center text-neutral-200 text-[200px] font-normal font-['Bebas Neue']">Kioski</div>
    <img class="w-[500px] h-[500px] left-[483.18px] top-[591px] absolute origin-top-left rotate-[22.11deg] opacity-25" src="img/hlm-alieni.png" />
    <img class="w-[219.41px] h-[219.41px] left-[-110px] top-[628.66px] absolute origin-top-left rotate-[-29.99deg] opacity-10" src="img/hlm-alieni.png" />
    <img class="w-[219.41px] h-[219.41px] left-[125.97px] top-[765px] absolute origin-top-left rotate-[33.15deg] opacity-10" src="img/hlm-alieni.png" />
    <img class="w-[145px] h-[145px] left-[29px] top-[35px] absolute" src="img/hlm-alieni.png" />
    <img class="w-[145px] h-[145px] left-[574px] top-[35px] absolute" src="img/hlm-alieni.png" />
    <div id="buttons" class="hidden">
        <div class="w-[285px] h-[102px] left-[230px] top-[241px] absolute">
            <div class="w-[285px] h-[102px] left-0 top-0 absolute bg-fuchsia-500 rounded-[13px]"></div>
            <div class="w-[285px] h-20 left-0 top-[22px] absolute text-center text-neutral-200 text-6xl font-normal font-['Bebas Neue']">OSTA TUOTE</div>
        </div>
        <div class="w-[285px] h-[102px] left-[230px] top-[375px] absolute">
            <div class="w-[285px] h-[102px] left-0 top-0 absolute bg-fuchsia-500 rounded-[13px]"></div>
            <div class="w-[284px] h-20 left-[1px] top-[22px] absolute text-center text-neutral-200 text-6xl font-normal font-['Bebas Neue']">MAKSA VELKA</div>
        </div>
        <div class="w-[294px] h-[102px] left-[222px] top-[509px] absolute">
            <div class="w-[285px] h-[102px] left-[8px] top-0 absolute bg-fuchsia-500 rounded-[13px]"></div>
            <div class="w-[294px] h-20 left-0 top-[22px] absolute text-center text-neutral-200 text-6xl font-normal font-['Bebas Neue']">OMA SALDO</div>
        </div>
    </div>
    <div class="w-[294px] h-[102px] left-[222px] top-[866px] absolute">
        <div class="w-[285px] h-[102px] left-[8px] top-0 absolute bg-fuchsia-500 rounded-[13px]"></div>
        <div class="w-[294px] h-20 left-0 top-[22px] absolute text-center text-neutral-200 text-6xl font-normal font-['Bebas Neue']">LOPETA</div>
    </div>
</div>

<script>
    function refreshPage() {
        // Use AJAX to get the latest GPIO data from the server
        fetch('/api/reader')
            .then(response => response.json())
            .then(data => {
                // Update the page with the new data
                if(data.error) {
                    document.getElementById('data').innerHTML = `${data.error}`;
                    document.getElementById('main').remove();

                    const refreshButton = document.createElement('button');
                    refreshButton.classList.add("bg-blue-500", "hover:bg-blue-700", "text-white", "font-bold", "py-2", "px-4", "rounded-md")
                    refreshButton.addEventListener('click', refresh)
                    refreshButton.id = 'refreshButton'
                    refreshButton.textContent = 'Refresh';

                    document.getElementById('data').insertAdjacentElement('afterend', refreshButton);
                    return;
                } else if(data.uid) {
                    if(document.getElementById('refreshButton')) document.getElementById('refreshButton').remove();
                    document.getElementById("buttons").classList.remove("hidden");
                    document.getElementById('data').innerHTML = `${data.uid}`;
                }
            });
    }
    window.onload = function() {
        refreshPage()
    }
    function refresh() {
        window.location.reload()
    }
</script>