<%- include("partials/header", { path, title: "Home"}) %>
<div class="w-96 h-96 relative bg-neutral-900">
    <div class="w-96 h-52 left-[26px] top-0 absolute text-center text-neutral-200 text-9xl font-normal font-['Bebas Neue']">Kioski</div>
    <img class="w-96 h-96 left-[-220px] top-[802.18px] absolute origin-top-left rotate-[-26.10deg] opacity-25" src="img/hlm-alieni.png" />
    <img class="w-56 h-56 left-[449px] top-[865.47px] absolute origin-top-left rotate-[-25.66deg] opacity-10" src="img/hlm-alieni.png" />
    <img class="w-36 h-36 left-[29px] top-[35px] absolute" src="img/hlm-alieni.png" />
    <img class="w-36 h-36 left-[574px] top-[35px] absolute" src="img/hlm-alieni.png" />
    <div class="w-72 h-24 left-[222px] top-[515px] absolute" id="redirectButton">
        <div class="w-72 h-24 left-[8px] top-0 absolute bg-fuchsia-500 rounded-xl"></div>
        <div class="w-72 h-20 left-0 top-[22px] absolute text-center text-neutral-200 text-6xl font-normal font-['Bebas Neue']">LUE KORTTI</div>
    </div>
    <img class="w-56 h-56 left-[655.86px] top-[521.24px] absolute origin-top-left rotate-[27.07deg] opacity-10" src="img/hlm-alieni.png" />
</div>
<script>
    function redirect() {
        window.location.href = "/shop";
        window.location.replace("/shop");
    }
    document.getElementById("redirectButton").addEventListener("click", redirect);
</script>