<%- include("partials/header", { path, title: "Home"}) %>
<div class="w-[744px] h-[1133px] relative bg-neutral-900 select-none overflow-x-hidden">
    <div class="w-[693px] h-[204px] left-[26px] top-0 absolute text-center text-neutral-200 text-[200px] font-normal font-['Bebas Neue']">Kioski</div>
    <img class="w-[500px] h-[500px] left-[483.18px] top-[591px] absolute origin-top-left rotate-[22.11deg] opacity-25" src="img/hlm-alieni.png" />
    <img class="w-[219.41px] h-[219.41px] left-[-110px] top-[628.66px] absolute origin-top-left rotate-[-29.99deg] opacity-10" src="img/hlm-alieni.png" />
    <img class="w-[219.41px] h-[219.41px] left-[125.97px] top-[765px] absolute origin-top-left rotate-[33.15deg] opacity-10" src="img/hlm-alieni.png" />
    <img class="w-[145px] h-[145px] left-[29px] top-[35px] absolute" src="img/hlm-alieni.png" />
    <img class="w-[145px] h-[145px] left-[574px] top-[35px] absolute" src="img/hlm-alieni.png" />
    <div class="w-[294px] h-[102px] left-[222px] top-[916px] absolute" id="backButton">
        <div class="w-[285px] h-[102px] left-[8px] top-0 absolute bg-fuchsia-500 rounded-[13px]"></div>
        <div class="w-[294px] h-20 left-0 top-[22px] absolute text-center text-neutral-200 text-6xl font-normal font-['Bebas Neue']">TAKAISIN</div>
    </div>
    <div class="w-[749px] h-[102px] left-[-2px] top-[238px] absolute bg-fuchsia-500 rounded-[13px]"></div>
    <div class="w-[502px] h-20 left-[122px] top-[260px] absolute text-center text-neutral-200 text-6xl font-normal font-['Bebas Neue']">VELAN VÄHENNYS</div>
    <form method="post" action="/api/addMoney">
        <input type="hidden" id="userField" name="user">
        <input class="w-[502px] h-20 left-[122px] top-[400px] absolute text-center text-stone-900 text-6xl font-normal font-['Bebas Neue'] bg-gray-200 rounded-[13px]" type="number" name="amount" id="amount" placeholder="20"/>

        <input class="w-[285px] h-[102px] left-[230px] top-[519px] absolute text-center text-neutral-200 text-6xl font-normal font-['Bebas Neue'] bg-fuchsia-500 rounded-[13px]" type="submit" value="MAKSA VELKA"/>
    </form>
</div>

<script>
    function refreshPage() {
        if (localStorage.getItem("user")) {
            data = JSON.parse(localStorage.getItem("user"));
            fetch('/api/updateData/' + data.user[0].id)
                .then(response => response.json())
                .then(user => {
                    data.user = user;
                    localStorage.setItem("user", JSON.stringify(data));
                });
            document.getElementById("userField").value = data.user[0].id;
        } else {
            window.location.href = "/menu";
            window.location.replace("/menu");
        }
    }
    window.onload = function() {
        refreshPage()
    }
    document.getElementById("backButton").addEventListener("click", back)
    function back() {
        window.location.href = "/menu";
        window.location.replace("/menu");
    }
    setTimeout(function() {
        localStorage.removeItem("user");
        window.location.href = "/main";
        window.location.replace("/main");
    }, 60000 * 5);
</script>